# Object files
*.o
*.ko
*.obj
*.elf
meetup_tests.py
MEETUP_NOTES.md

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*~

.vscode/
*check_device.py

include/mcu/mt7650_firmware.h
tools/bin2h

